<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div (click)="showProductDetail(1)" class="group relative">
        <img src="https://images.pexels.com/photos/691175/pexels-photo-691175.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>

      <div (click)="showProductDetail(1)" class="group relative">
        <img src="https://images.pexels.com/photos/1192053/pexels-photo-1192053.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>

      <div (click)="showProductDetail(1)" class="group relative">
        <img src="https://images.pexels.com/photos/60507/maize-corn-indian-corn-vegetables-60507.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>

      <div (click)="showProductDetail(1)" class="group relative">
        <img src="https://images.pexels.com/photos/992816/pexels-photo-992816.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>



      <div (click)="showProductDetail(1)" class="group relative">
        <img src="https://images.pexels.com/photos/1080067/pexels-photo-1080067.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>


      <div class="group relative">
        <img src="https://images.pexels.com/photos/273838/pexels-photo-273838.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>



      <div class="group relative">
        <img src="https://images.pexels.com/photos/2918151/pexels-photo-2918151.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a >
                <span aria-hidden="true" class="absolute inset-0"></span>
                Some seed
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Owner</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>



<!-- product detail modal  -->
<p-dialog header="Header" [(visible)]="isProductDetail" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '800px' }" [draggable]="false" [resizable]="false">
  <app-product-detail></app-product-detail>
</p-dialog>
