<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2 bg-white">
      <ng-template pTemplate="left">
          <div class="flex gap-2 items-center">
            <p-button
              severity="success"
              label="New"
              icon="pi pi-plus"
              class=" bg-secondary px-4 py-2 rounded-md text-white text-sm"

              (onClick)="showCreateUserDialog()" />
          <p-button
              severity="danger"
              label="Delete"
              icon="pi pi-trash"
              class="bg-red-600 px-4 py-2 rounded-md text-white text-sm"
              (onClick)="deleteSelectedProducts()"
              [disabled]="!selectedProducts || !selectedProducts.length" />
          </div>
      </ng-template>

      <ng-template pTemplate="right">
          <div class="flex gap-2 items-center">
            <p-fileUpload
              mode="basic"
              accept="image/*"
              [maxFileSize]="1000000"
              label="Import"
              chooseLabel="Import"
              styleClass="px-4 py-2 text-sm "
              />
          <p-button
              severity="help"
              label="Export"
              class="bg-purple-600 text-white text-sm px-4 py-2 rounded-md"
              icon="pi pi-upload" />
          </div>
      </ng-template>
  </p-toolbar>

  <p-table
      #dt
      [value]="courses"
      [rows]="10"
      [loading]="loading"
      [paginator]="true"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
      [tableStyle]=""
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      styleClass="border"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
  >
      <ng-template pTemplate="caption">
          <div class="flex justify-between items-center">
              <h5 class="m-0">Manage Courses</h5>
              <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <p-iconField iconPosition="right">
                    <p-inputIcon styleClass="pi pi-search" />
                    <input class="px-4 py-2 text-sm" type="text" pInputText placeholder="Search" />
                </p-iconField>
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th >
                  <p-tableHeaderCheckbox  />
              </th>
              <th  >
                  Course Title
              </th>
              <th>
                  Description
              </th>
              <th >
                  Author
              </th>
              <th >
                Action
            </th>
              <!-- <th pSortableColumn="category" style="min-width:10rem">
                  Category
              </th> -->

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-courses>
          <tr>
              <td>
                  <p-tableCheckbox [value]="courses" />
              </td>
              <td>
                  {{ courses.title }}
              </td>
              <td>
                  {{ courses.description }}
              </td>
              <td>
                Seedo
            </td>


              <td>
                  <p-button
                      icon="pi pi-pencil"
                      class="mr-2"
                      [rounded]="true"
                      [outlined]="true"
                      severity="success"
                      (onClick)="editProduct(courses)" />
                  <p-button
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [outlined]="true"
                      (onClick)="deleteProduct(courses)" />
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
              In total there are {{ courses ? courses.length : 0 }} courses.
          </div>
      </ng-template>
  </p-table>


  <!-- course detail dialog -->

  <!-- Edit course dialog -->
  <p-dialog
      [(visible)]="productDialog"
      [style]="{ width: '450px' }"
      header="Course Details"
      [modal]="true"
      styleClass="p-fluid">
          <ng-template pTemplate="content">
              <!-- <img
                  [src]="product.image"
                  [alt]="product.image"
                  class="block m-auto pb-3"
                  *ngIf="product.image" /> -->
              <div class="field flex flex-col gap-2">
                  <label for="name" class="text-sm ">Course Title</label>
                  <input
                      type="text"
                      pInputText
                      id="name"
                      [(ngModel)]="course.title"
                      required
                      class="px-4 py-2 text-sm font-normal border"
                      autofocus />
                  <small class="p-error" *ngIf="submitted && !course.name">
                      Name is required.
                  </small>
              </div>

              <div class="field "  class="field flex flex-col gap-2 mt-4">
                <label for="description">Course Description</label>
                <textarea
                    id="description"
                    pInputTextarea
                    [(ngModel)]="course.description"
                    required
                    class="border px-4 py-2"
                    rows="3"
                    cols="20">
                </textarea>
            </div>

          </ng-template>

          <ng-template pTemplate="footer">
              <div class="flex justify-end items-center">
                <p-button
                  label="Cancel"
                  icon="pi pi-times"
                  styleClass="px-2 py-2 text-primary "
                  [text]="true"
                  (onClick)="hideDialog()" />
                <p-button
                    label="Save"
                    icon="pi pi-check"
                    styleClass="px-4 py-2 text-primary "
                    [text]="true"
                    (onClick)="saveCourse()" />
              </div>
          </ng-template>
  </p-dialog>


  <!-- confirm delete dialog -->
  <div class="card flex justify-content-center">
    <p-toast />
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-col  p-6 rounded-xl bg-white">
                <div class="flex">
                  <div class="rounded-full text-white  inline-flex  items-center">
                    <i class="pi pi-exclamation-trian text-5xl"></i>
                  </div>
                  <span class="font-medium text-xl block mb-2 mt-4">
                      {{ message.header }}
                  </span>
                </div>
                <p class="mb-0 text-center">{{ message.message }}</p>
                <div class="flex justify-end items-center gap-2 mt-4">
                    <button
                        pButton
                        label="Yes"
                        (click)="cd.accept()"
                        class="px-8 py-2 text-sm font-thin border border-red-600 text-white bg-red-600 rounded-md">
                    </button>
                    <button
                        pButton
                        label="Cancel"
                        (click)="cd.reject()"
                        class="px-8 py-2 text-sm font-thin text-primary bg-white border border-primary rounded-md">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
    </div>


  <!-- create course dialog -->
  <div class="card flex justify-content-center">
    <p-dialog
        header="Header"
        [(visible)]="isCreateCourse"
        [modal]="true"
        [style]="{ width: '25rem' }">
            <ng-template pTemplate="header">
                <div class="inline-flex align-items-center justify-content-center gap-2">
                    <h4>Add new Lesson</h4>
                </div>
            </ng-template>
            <!-- Comment Form -->
            <div class="w-full  mx-auto">
              <div class="mx-auto max-w-2xl">

                <!-- Card -->
                <form>
                  <div class="mb-2">
                    <label for="hs-feedback-post-comment-name-1" class="block mb-2 text-sm font-medium">Title</label>
                    <input type="text" id="hs-feedback-post-comment-name-1" class=" border py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Course title">
                  </div>

                  <div>
                    <label for="hs-feedback-post-comment-textarea-1" class="block mb-2 text-sm font-medium">Lesson description</label>
                    <div class="mt-1">
                      <textarea id="hs-feedback-post-comment-textarea-1" name="hs-feedback-post-comment-textarea-1" rows="3" class=" border py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Enter Lesson description"></textarea>
                    </div>
                  </div>

                  <div>
                    <label for="fileUpload">

                      <div  class="mt-4 flex justify-between">
                        <p>{{videoFile?.name}}</p>
                        <div type="" class="flex gap-2 items-center text-sm text-primary">
                          Upload video
                          <span class="text-primary ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                              <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                          </span>
                        </div>
                      </div>
                    </label>
                    <input (change)="onImageChange($event)" id="fileUpload" type="file" class="hidden">
                  </div>


                </form>

                <!-- End Card -->
              </div>
            </div>
            <!-- End Comment Form -->
            <ng-template pTemplate="footer">
               <div class="flex gap-2 w-full justify-end">
                  <!-- <p-button
                  label="Cancel"
                  [text]="true"
                  severity="secondary"
                  styleClass="border bg-red-600 text-sm font-medium text-white px-4 py-2"
                  (onClick)="addLesson = false" /> -->
                  <p-button
                      label="Save"
                      [loading]="loading"
                      [outlined]="true"
                      styleClass="border bg-primary text-sm font-medium text-white px-4 py-2"
                      severity="secondary"
                      (onClick)="saveCourse()"/>
               </div>
            </ng-template>
    </p-dialog>
  </div>


</div>
