<!-- ========== HEADER ========== -->
<header class="flex relative flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-4 bg-white">
  <nav class="max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-8 mx-auto">
    <div class="md:col-span-3">
      <!-- Logo -->
      <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="../templates/creative-agency/index.html" aria-label="Preline">
        <img src="assets/logo.png" alt="">
      </a>
      <!-- End Logo -->
    </div>

    <!-- Button Group -->
    <div class="flex items-center gap-x-1 md:gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
      <button (click)="route('app/login')" type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-md bg-secondary border border-gray-200 text-white hover:bg-primary focus:outline-none  disabled:opacity-50 disabled:pointer-events-none">
        Sign in
      </button>

      <div class="md:hidden">
        <button (click)="OnDropdown()" type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" id="hs-navbar-hcail-collapse" aria-expanded="false" aria-controls="hs-navbar-hcail" aria-label="Toggle navigation" data-hs-collapse="#hs-navbar-hcail">
          <svg class="hs-collapse-open:hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
          <svg class="hs-collapse-open:block hidden shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
      </div>
    </div>
    <!-- End Button Group -->

    <!-- Collapse -->
    <div id="hs-navbar-hcail" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6" aria-labelledby="hs-navbar-hcail-collapse">
      <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
        <!-- <div>
          <a class="relative inline-block text-black focus:outline-none before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400" href="#" aria-current="page">Work</a>
        </div> -->
        <div>
          <nav class="inline-block text-black hover:text-gray-600 focus:outline-none focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" (click)="route('home')">Home</nav>
        </div>
        <div>
          <a class="inline-block text-black hover:text-gray-600 focus:outline-none focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" (click)="route('about')" >About</a>
        </div>
        <div>
          <a class="inline-block text-black hover:text-gray-600 focus:outline-none focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" (click)="route('app/login')">Platform</a>
        </div>
        <div>
          <!-- <a class="inline-block text-black hover:text-gray-600 focus:outline-none focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" >Services</a> -->
        </div>
      </div>
    </div>
    <!-- End Collapse -->

  </nav>
</header>
<!-- ========== END HEADER ========== -->


  <!-- Collapse -->
  <div *ngIf="dropdown"  class="flex bg-white absolute flex-col w-full justify-center items-center gap-4 pt-4 text-lg font-bold h-[25vh]">
    <!-- <div>
      <a class="relative inline-block text-black focus:outline-none before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400" href="#" aria-current="page">Work</a>
    </div> -->
    <div (click)="route('home')">
      <nav class=" active:text-primary/45" (click)="route('home')">Home</nav>
    </div>
    <div>
      <nav class=" active:text-primary/45" (click)="route('about')" >About</nav>
    </div>
    <div>
      <nav class=" focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" (click)="route('app/login')">Platform</nav>
    </div>
    <div>
      <!-- <a class="inline-block text-black hover:text-gray-600 focus:outline-none focus:text-gray-600 cursor-pointer hover:border-b-2 hover:border-secondary active:text-primary/45" >Services</a> -->
    </div>
  </div>

<!-- End Collapse -->


