<div class="section flex w-full justify-end items-end gap-8">
    <div class="search bg-gray-200  rounded-md px-4 py-1 max-w-[250px] md:max-w-[350px] lg:max-w-[350px] flex justify-start gap-2 items-center">
        <span class="text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
        </span>

        <input type="text" placeholder="search Courses" class="w-[380px] bg-transparent p-2 capitalize outline-none">

        <div class="active:scale-95">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                  </svg>
            </span>
        </div>
    </div>

    <select name="" id="" class="py-3 px-4 border rounded-md">
      <option>Select Language</option>
      <option (click)="onClick('english')" value="english">English</option>
      <option (click)="onClick('hausa')" value="hausa">Hausa</option>
      <option (click)="onClick('yoruba')" value="yoruba">Yoruba</option>
      <option (click)="onClick('igbo')" value="igbo">Igbo</option>
    </select>
</div>
