<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
          <a (click)="goBack()" class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline focus:outline-none focus:underline">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
            Back to Blog
          </a>

          <h2 class="text-3xl font-bold lg:text-5xl">{{content.title}} 🚜🌾
          </h2>

          <div class="flex items-center gap-x-5">
            <a class="inline-flex items-center gap-1.5 py-1 px-3 sm:py-2 sm:px-4 rounded-full text-xs sm:text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" href="#">
              <span><img src="/assets/min-logo.png" class="w-6 h-6" alt=""></span>
              Seedo News
            </a>
            <p class="text-xs sm:text-sm text-gray-800">{{content.created_at | date}}</p>
          </div>

          <p [innerHTML]="content?.content"></p>

        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div class="lg:col-span-1 lg:w-full lg:h-full lg:bg-gradient-to-r lg:from-gray-50 lg:via-transparent lg:to-transparent">
      <div class="sticky top-0 start-0 py-8 lg:ps-8">


        <div class="space-y-6">
          <ng-container *ngFor="let item of blogContent">
            <!-- Media -->
          <a class="group flex items-center gap-x-6 focus:outline-none">
            <div class="grow">
              <span class="text-sm font-bold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600">
                {{item?.title}}
              </span>
            </div>

            <div class="shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://images.pexels.com/photos/5727753/pexels-photo-5727753.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Blog Image">
            </div>
          </a>
          <!-- End Media -->
          </ng-container>


          <div>
            <ul>
              <li class="flex gap-4 items-center justify-end">
                <span>Share</span>
                  <a (click)="shareContent()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>




        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

<div class="flex items-center gap-4" *ngIf="content?.length<=0 && loading">
  <app-loader [pageLoading]="true"></app-loader>
  <span>
  Loading...
  </span>
</div>
