<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
  <div class="grid lg:grid-cols-3 gap-y-8 lg:gap-y-0 lg:gap-x-6">
    <!-- Content -->
    <div class="lg:col-span-2">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
          <a (click)="goBack()" class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline focus:outline-none focus:underline">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
            Back to Blog
          </a>

          <h2 class="text-3xl font-bold lg:text-5xl">"Revolutionizing Agriculture: How Technology is Transforming Farming for a Sustainable Future" 🚜🌾
          </h2>

          <div class="flex items-center gap-x-5">
            <a class="inline-flex items-center gap-1.5 py-1 px-3 sm:py-2 sm:px-4 rounded-full text-xs sm:text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200" href="#">
              <span><img src="/assets/min-logo.png" class="w-6 h-6" alt=""></span>
              Seedo News
            </a>
            <p class="text-xs sm:text-sm text-gray-800">January 18, 2023</p>
          </div>

          <p class="text-lg text-gray-800">At preline, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow.</p>

          <p class="text-lg text-gray-800">We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>

          <div class="text-center">
            <div class="grid lg:grid-cols-2 gap-3">
              <div class="grid grid-cols-2 lg:grid-cols-1 gap-3">
                <figure class="relative w-full h-60">
                  <img class="size-full absolute top-0 start-0 object-cover rounded-xl" src="https://images.unsplash.com/photo-1670272505340-d906d8d77d03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
                </figure>
                <figure class="relative w-full h-60">
                  <img class="size-full absolute top-0 start-0 object-cover rounded-xl" src="https://images.unsplash.com/photo-1671726203638-83742a2721a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
                </figure>
              </div>
              <figure class="relative w-full h-72 sm:h-96 lg:h-full">
                <img class="size-full absolute top-0 start-0 object-cover rounded-xl" src="https://images.unsplash.com/photo-1671726203394-491c8b574a0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
              </figure>
            </div>

            <span class="mt-3 block text-sm text-center text-gray-500">
              Working process
            </span>
          </div>

          <p class="text-lg text-gray-800">As we've grown, we've seen how Preline has helped companies such as Spotify, Microsoft, Airbnb, Facebook, and Intercom bring their designers closer together to create amazing things. We've also learned that when the culture of sharing is brought in earlier, the better teams adapt and communicate with one another.</p>

          <p class="text-lg text-gray-800">That's why we are excited to share that we now have a <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium" href="#">free version of Preline</a>, which will allow individual designers, startups and other small teams a chance to create a culture of openness early on.</p>

          <blockquote class="text-center p-4 sm:px-7">
            <p class="text-xl font-medium text-gray-800 lg:text-2xl lg:leading-normal xl:text-2xl xl:leading-normal">
              To say that switching to Preline has been life-changing is an understatement. My business has tripled and I got my life back.
            </p>
            <p class="mt-5 text-gray-800">
              Nicole Grazioso
            </p>
          </blockquote>

          <figure>
            <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1671726203454-488ab18f7eda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=560&q=80" alt="Blog Image">
            <figcaption class="mt-3 text-sm text-center text-gray-500">
              A man and a woman looking at a cell phone.
            </figcaption>
          </figure>

          <div class="space-y-3">
            <h3 class="text-2xl font-semibold">Bringing the culture of sharing to everyone</h3>

            <p class="text-lg text-gray-800">We know the power of sharing is real, and we want to create an opportunity for everyone to try Preline and explore how transformative open communication can be. Now you can have a team of one or two designers and unlimited spectators (think PMs, management, marketing, etc.) share work and explore the design process earlier.</p>
          </div>

          <ul class="list-disc list-outside space-y-5 ps-5 text-lg text-gray-800">
            <li class="ps-2">Preline allows us to collaborate in real time and is a really great way for leadership on the team to stay up-to-date with what everybody is working on," <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium" href="#">said</a> Stewart Scott-Curran, Intercom's Director of Brand Design.</li>
            <li class="ps-2">Preline opened a new way of sharing. It's a persistent way for everyone to see and absorb each other's work," said David Scott, Creative Director at <a class="text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium" href="#">Eventbrite</a>.</li>
          </ul>

          <p class="text-lg text-gray-800">Small teams and individual designers need a space where they can watch the design process unfold, both for themselves and for the people they work with – no matter if it's a fellow designer, product manager, developer or client. Preline allows you to invite more people into the process, creating a central place for conversation around design. As those teams grow, transparency and collaboration becomes integrated in how they communicate and work together.</p>


        </div>
      </div>
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div class="lg:col-span-1 lg:w-full lg:h-full lg:bg-gradient-to-r lg:from-gray-50 lg:via-transparent lg:to-transparent">
      <div class="sticky top-0 start-0 py-8 lg:ps-8">


        <div class="space-y-6">
          <!-- Media -->
          <a class="group flex items-center gap-x-6 focus:outline-none" href="#">
            <div class="grow">
              <span class="text-sm font-bold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600">
                "The Future of Farming: Innovations Driving Sustainable Agriculture" 🌱🚜              </span>
            </div>

            <div class="shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://images.pexels.com/photos/5727753/pexels-photo-5727753.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Blog Image">
            </div>
          </a>
          <!-- End Media -->

          <!-- Media -->
          <a class="group flex items-center gap-x-6 focus:outline-none" href="#">
            <div class="grow">
              <span class="text-sm font-bold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600">
                "The Future of Farming: Innovations Driving Sustainable Agriculture" 🌱🚜              </span>
            </div>

            <div class="shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://images.pexels.com/photos/5727753/pexels-photo-5727753.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Blog Image">
            </div>
          </a>
          <!-- End Media -->

          <!-- Media -->
          <a class="group flex items-center gap-x-6 focus:outline-none" href="#">
            <div class="grow">
              <span class="text-sm font-bold text-gray-800 group-hover:text-blue-600 group-focus:text-blue-600">
                "The Future of Farming: Innovations Driving Sustainable Agriculture" 🌱🚜              </span>
            </div>

            <div class="shrink-0 relative rounded-lg overflow-hidden size-20">
              <img class="size-full absolute top-0 start-0 object-cover rounded-lg" src="https://images.pexels.com/photos/5727753/pexels-photo-5727753.jpeg?auto=compress&cs=tinysrgb&w=800" alt="Blog Image">
            </div>
          </a>
          <!-- End Media -->

          <div>
            <ul>
              <li class="flex gap-4 items-center justify-end">
                <span>Share</span>
                  <a (click)="shareContent()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                      <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                    </svg>
                  </a>
              </li>
            </ul>
          </div>




        </div>
      </div>
    </div>
    <!-- End Sidebar -->
  </div>
</div>
<!-- End Blog Article -->

<div class="flex items-center gap-4" *ngIf="content.length<=0 && loading">
  <app-loader [pageLoading]="true"></app-loader>
  <span>
  Loading...
  </span>
</div>
