<div class="section w-full h-screen">
  <app-menu></app-menu>

  <app-about-hero page="Contact" pageRoute="contact"></app-about-hero>

  <div class="About ">
    <h4 class="grace-font">About</h4>
    <p>
      Seedo Agro offers farming courses in native languages to empower Nigerian farmers with knowledge for growth.
    </p>
  </div>

  <div class="About">
    <h4 class="grace-font">Contact</h4>
    <p class="flex flex-col">
      +1- (246) 333-0079
      support&#64;agrios.com
      mon - Fri: 7:00am - 6:00pm
    </p>
  </div>


  <div class="About ">
    <h4 class="grace-font">About</h4>
    <p>
      66 Broklun Road Golden Street,
      New Your United States of
      Ameriaca
    </p>
  </div>



  <div class="footer mt-8">
    <app-footer></app-footer>
  </div>

</div>
