<div class="section w-full h-screen">
  <app-menu></app-menu>

  <app-about-hero page="Contact" pageRoute="contact"></app-about-hero>

  <div class="flex justify-center w-full flex-wrap px-8 lg:py-0  gap-4 max-w-[1100px] mx-auto my-[50px] lg:my-[100px]">
    <div class="About flex-1 bg-primary p-8 text-white rounded-md">
      <h4 class="grace-font text-3xl text-white/60">About</h4>
      <p class="mt-1">
        Seedo Agro offers farming courses in native languages to empower Nigerian farmers with knowledge for growth.
      </p>
    </div>

    <div class="contact flex-1 bg-[#C5CE38] p-8 text-white rounded-md">
      <h4 class="grace-font text-3xl text-white/60">Contact</h4>
      <p class="flex flex-col mt-1">
        +234 812 972 1560 <br> +234 806 505 0262 <br>
        seedoagroallied&#64;gmail.com <br>
        mon - Fri: 7:00am - 6:00pm
      </p>
    </div>


    <div class="Address flex-1 bg-[#EEC044] p-8 text-white rounded-md">
      <h4 class="grace-font text-3xl text-white/60">Address</h4>
      <p class="mt-1">
        66 Broklun Road Golden Street, <br>
        New Your United States of
        Ameriaca
      </p>
    </div>
  </div>

  <div class="map"></div>


  <div class="footer mt-8">
    <app-footer></app-footer>
  </div>

</div>
