<div class="section w-full h-screen">
  <app-menu></app-menu>

  <app-about-hero page="About us" pageRoute="about-us"></app-about-hero>


  <div class="lg:max-w-[1200px] px-4 md:px-8 mx-auto flex flex-col lg:flex-row items-center justify-center lg:justify-start h-full relative">

    <div class="about-image">
      <img src="assets/about-img.png" alt="About Seedo Agro image">
    </div>

    <div class="content basis-1/2">
      <h3 class="text-lg lg:w-[502px] md:text-5xl  lg:text-2xl lg:leading-[120%] text-[#EEC044] md:text-center lg:text-start">Why Choose Us</h3>
      <div class=" text- flex flex-col gap-4">
        <h1 class="title lg:w-[502px] text-3xl text-Titlecolor md:text-5xl md:leading-[120%] lg:text-[56px] lg:leading-[120%] md:text-center lg:text-start">Agro and More</h1>
        <p class="lg:w-[485px] text-xl text-start text-gray-500 md:text-center md-max-w-[500px] lg:text-start">
            At Seedo agro, we believe that knowledge is the seed for growth. Based in the heart of Nigeria,
            we specialize in providing comprehensive farming courses delivered in native languages,
            ensuring that every farmer can access vital information in a way that resonates with them. </p>

          <div class="mt-4 w-full flex justify-start md:justify-center lg:justify-start">
            <button class=" w-[200px] h-[60px] bg-secondary text-white rounded-full cursor-pointer hover:bg-primary active:bg-primary/85">Contact us</button>
          </div>
      </div>
    </div>

  </div>


  <div class="footer mt-8">
    <app-footer></app-footer>
  </div>

</div>
