<div class="section w-100% h-[620px] bg-cover bg-no-repeat bg-[url('/assets/hero.png')] ">
  <div class="hero w-100% h-[620px] bg-cover bg-no-repeat bg-[url('/assets/gradient1.png')] ">


    <div class="overlay absolute top-20 visibility: hidden; lg:flex">
      <img src="/assets/gradient2.png" class="w-100% h-[620px]" alt="overlay">
    </div>

    <div class="lg:max-w-[1200px] px-4 md:px-8 mx-auto flex flex-col lg:flex-row items-center justify-center lg:justify-start h-full relative">
      <div class="content basis-1/2">
        <div class=" text-white flex flex-col gap-4">
          <h1 class="title lg:w-[502px] text-3xl md:text-5xl md:leading-[120%] lg:text-[56px] lg:leading-[120%] md:text-center lg:text-start">Empowering Nigerian Farmers for Sustainable Agriculture</h1>
          <p class="lg:w-[485px] text-xl text-start md:text-center md-max-w-[500px] lg:text-start">welcome to Seedo, where agricultural knowledge meets innovation. Explore our
            range of solutions tailored to empower farmers across Nigeria with climate-resilient
            agriculture practices.</p>

            <div class="mt-4 w-full flex justify-start md:justify-center lg:justify-start">
              <button class=" w-[200px] h-[60px] bg-secondary text-white rounded-full cursor-pointer hover:bg-primary active:bg-primary/85">Learn More</button>
            </div>
        </div>
      </div>
      <div class="image hidden sm:block md:hidden lg:block basis-1/2">
        <img class="" src="assets/maize.png" alt="">
      </div>
    </div>
  </div>
</div>
