<div class="section w-100% h-[400px] bg-cover bg-no-repeat  bg-[url('/assets/page-hero.png')] ">
  <div class="hero w-100% h-[400px] bg-cover bg-no-repeat bg-[url('/assets/gradient2.png')] ">

    <div class="route w-full h-full flex justify-center flex-col items-center text-white">
      <div class="flex  justify-center items-center">
        <nav (click)="route('home')" class="text-lg cursor-pointer  hover:text-secondary">Home</nav>
      <span class="mx-2 text-2xl">/</span>
      <nav (click)="route(pageRoute)" routerLinkActive="router-link-active"  class="text-lg cursor-pointer hover:text-secondary">{{page}}</nav>
      </div>
    <h2 class="text-4xl text-white font-boldou mt-1">{{page}}</h2>

    </div>


  </div>
</div>
